body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 50px;
  /* padding-bottom: 20px; */
  /* width: 80%; */
  text-align: left;

}

ul.items{
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
li.listItem {
  text-decoration: none;
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px 10px;
  margin: 10px 10px;
}

.documentCard {
  height: 230px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow-y:scroll;
}
.elementLabel {
  display: block;
}
.filterBox {
  /* margin-bottom: 40px; */
}
.input-field {
  margin-bottom: 10px !important;
}

.itemTitle {
  /* font-size: medium !important; */
  line-height: normal !important;
  margin-bottom: 10px !important;
  font-weight: bolder !important;
}
::-webkit-input-placeholder {
  color: #767676;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: #767676;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #767676;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #767676;
  opacity: 1;
}